* {
    background-color: rgb(221, 186, 255);
    font-family:Arial, "Times New Roman", serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(255, 0, 191);
    font-weight: bold;
}

img.food {
    width: 300px;
    height: auto;
}

body {
    text-align: center;
    align-content: center;
    
}

ul  {
    padding-left: 0;
}

ul li {
     list-style-position: inside;
  }

ol li {
    list-style-position: inside;
 }

.link {
    font-size: 25px;
}



